<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>OilDrop</title>
    <meta charset="utf-8">
    <!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/fonts.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
    <!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

    <div class="preloader">
        <div class="preloader_image"></div>
    </div>


    <!-- search modal -->
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <div class="widget widget_search">
            <form method="get" class="searchform form-inline" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                        id="modal-search-input">
                </div>
                <button type="submit" class="theme_button">Search</button>
            </form>
        </div>
    </div>

    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">

            <!-- template sections -->
            <header
                class="page_header cs main_color2 bordered_items columns_padding_0 toggle_menu_left not_hide_menuitems with_top_border">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="menu-container">
                                <!-- main nav start -->
                                <nav class="mainmenu_wrapper">
                                    <ul class="mainmenu nav sf-menu">
                                        <li class="active">
                                            <a href="welcome.blade.php">Inicio</a>
                                        </li>

                                        <li>
                                            <a href="about.html">QUIÉNES SOMOS</a>
                                        </li>
                                        <li>
                                            <a href="#">PRODUCTOS</a>
                                            <ul>
                                                <li>
                                                    <a href="service-single.html">MARCAS</a>
                                                </li>
                                                <li>
                                                    <a href="aplicaciones.html">APLICACIONES</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="services.html">SERVICIOS</a>
                                        </li>
                                        <!-- eof features -->

                                        <!-- blog -->
                                        <li>
                                            <a href="blog-full.html">NOVEDADES</a>
                                        </li>
                                        <!-- eof blog -->

                                        <!-- contacts -->
                                        <li>
                                            <a href="contact.html">Contáctanos</a>
                                        </li>
                                        <!-- eof contacts -->
                                        <li>
                                            <span>
                                                LOGO
                                            </span>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- eof main nav -->
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="page_breadcrumbs ls ms ms_dark section_padding_25">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="highlight2 bold bottommargin_5">ICI INDUSTRIAL</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="ls section_padding_top_50 section_padding_bottom_145">
                <div class="container">
                    <div class="row columns_padding_25">
                        <div class="col-md-3">
                            <img src="./images/inge.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <p class="entry-excerpt highlight2 topmargin_40 bottommargin_30">
                                <a href="">Es una compañía dedicada a la automatización de procesos
                                    industriales, con amplia experiencia en instrumentación de campo.
                                    Integramos a los mejores fabricantes para suministro de refaccionamiento
                                    para sus procesos y equipos de control.</a>
                            </p>
                            <p>
                                Estamos comprometidos con la calidad en nuestros servicios con la convicción
                                de dejar un trabajo que exceda las expectativas de nuestros clientes.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img src="./images/inge.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="highlight2 bold bottommargin_5">
                                FUNDACION ICI INDUSTRIAL
                            </h1>
                            <h4 class="highlight2">
                                Diseñando sistemas autónomos eficientes para los clientes
                            </h4>
                        </div>
                    </div>
                    <div class="row topmargin_10 bottommargin_30">
                        <p class="entry-excerpt highlight2 topmargin_5">
                            Fundada en febrero del 2008, con la oportunidad de integrar
                            equipos industriales de alta calidad, con marcas reconocidas
                            en el mercado, diseñando sistemas autónomos eficientes para
                            los clientes. En la actualidad ICI Industrial ha desarrollado
                            proyectos llave en mano, integrando las mejores tecnologías en el
                            mercado de petróleo y gas. Además de contar con un área de ventas
                            especialistas en las marcas que representamos, ofreciendo al cliente,
                            el mejor producto para controlar, monitorear y medir su proceso.
                        </p>
                    </div>
                    <hr>
                    <div class="row columns_padding_0 topmargin_60">
                        <div class="col-md-6 col-lg-5">
                            <p class="entry-excerpt highlight2 topmargin_5">
                                Siempre estamos interesados ​​en nuevos proyectos, grandes o pequeños.
                                No dude en ponerse en contacto con nosotros en relación con su proyecto.
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-5 col-lg-offset-1">
                            <p>
                                Si desea contactarnos por favor llame al siguiente numero:
                                <span class="kanit fontsize_18 highlight bold">+52 (993) 338 20 49</span> o
                                <a href="#" class="bold highlight underlined">envienos un correo</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="ls ms section_padding_145">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="with_padding text-center cs main_color2 with_bottom_border">
                                <span class="image_icon">
                                    <img src="./images/icon1.png" alt="">
                                </span>
                                <h3 class="highlight medium">Nuestra Misión</h3>
                                <div class="border-paragraphs middle-borders bold bottommargin_0 greylinks">
                                    <p>
                                        <a href="#">Automatizar todos los procesos.</a>
                                    </p>
                                    <p>
                                        <a href="#">Vender instrumentos de la mejor calidad en el mercado.</a>
                                    </p>
                                    <p>
                                        <a href="#">Excelencia en el servicio de ingeniería y ventas.</a>
                                    </p>
                                    <p>
                                        <a href="#">Diseñar y fabricar productos o proyectos de calidad
                                            <br>para el mercado nacional e internacional.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="with_padding text-center cs main_color2 with_bottom_border">
                                <span class="image_icon">
                                    <img src="./images/icon2.png" alt="">
                                </span>
                                <h3 class="highlight medium">Nuestra Visión</h3>
                                <div class="border-paragraphs middle-borders bold bottommargin_0 greylinks">
                                    <p>
                                        <a href="#">ICI Industrial será una empresa innovadora
                                            en tecnología, flexible al cambio, líderes en automatización.
                                        </a>
                                    </p>
                                    <p>
                                        <a href="#">Empresa comprometida con el servicio al cliente.</a>
                                    </p>
                                    <p>
                                        <a href="#">Expandir nuestros servicios y productos a diferentes sectores
                                            industriales.</a>
                                    </p>
                                    <p>
                                        <a href="#">Empresa confiable para distribuir instrumentos en el sector
                                            industrial.</a>
                                    </p>
                                    <p>
                                        <a href="#">Crecer nuestra fabricación de sistemas de control con el más alto
                                            estándar de calidad en nuestros productos fabricados</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="with_padding text-center cs main_color2 with_bottom_border">
                                <span class="image_icon">
                                    <img src="./images/icon3.png" alt="">
                                </span>
                                <h3 class="highlight medium">Objetivos</h3>
                                <div class="border-paragraphs middle-borders bold bottommargin_0 greylinks">
                                    <p>
                                        <a href="#">Convertir nuestra empresa en una rentable para inversionistas.</a>
                                    </p>
                                    <p>
                                        <a href="#">Desarrollar a nuestro personal como primer paso al éxito.</a>
                                    </p>
                                    <p>
                                        <a href="#">Incrementar nuestra facturación al 20% anual./a>
                                    </p>
                                    <p>
                                        <a href="#">Desarrollar productos o proyectos sustentables y duraderos.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section
                class="page_copyright cs main_color2 table_section section_padding_top_30 section_padding_bottom_30">
                <div class="container">
                    <div class="row">
                        <div class="row-sm-6 text-center">
                            <p class="bold fontsize_12 text-uppercase kanit">
                                Somos una compañía dedicada a la automatización
                                de procesos industriales, con amplia experiencia en
                                instrumentación de campo. Integramos a los mejores
                                fabricantes para suministro de refaccionamiento para
                                sus procesos y equipos de control.
                                Estamos comprometidos con la calidad en nuestros servicios
                                con la convicción de dejar un trabajo que
                                exceda las expectativas de nuestros clientes.
                                <span class="black">ICI Industrial</span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->

    <script src="js/compressed.js"></script>
    <script src="js/main.js"></script>


</body>

</html>
