<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>OilDrop</title>
    <meta charset="utf-8">
    <!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/fonts.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
    <!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

    <div class="preloader">
        <div class="preloader_image"></div>
    </div>


    <!-- search modal -->
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <div class="widget widget_search">
            <form method="get" class="searchform form-inline" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                        id="modal-search-input">
                </div>
                <button type="submit" class="theme_button">Search</button>
            </form>
        </div>
    </div>

    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">

            <!-- template sections -->
            <header
                class="page_header cs main_color2 bordered_items columns_padding_0 toggle_menu_left not_hide_menuitems with_top_border">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="menu-container">
                                <!-- main nav start -->
                                <nav class="mainmenu_wrapper">
                                    <ul class="mainmenu nav sf-menu">
                                        <li class="active">
                                            <a href="welcome.blade.php">Inicio</a>
                                        </li>

                                        <li>
                                            <a href="about.html">QUIÉNES SOMOS</a>
                                        </li>
                                        <li>
                                            <a href="#">PRODUCTOS</a>
                                            <ul>
                                                <li>
                                                    <a href="service-single.html">MARCAS</a>
                                                </li>
                                                <li>
                                                    <a href="aplicaciones.html">APLICACIONES</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="services.html">SERVICIOS</a>
                                        </li>
                                        <!-- eof features -->

                                        <!-- blog -->
                                        <li>
                                            <a href="blog-full.html">NOVEDADES</a>
                                        </li>
                                        <!-- eof blog -->

                                        <!-- contacts -->
                                        <li>
                                            <a href="contact.html">Contáctanos</a>
                                        </li>
                                        <!-- eof contacts -->
                                        <li>
                                            <img src="./images/ici_logo.png" alt="">
                                        </li>
                                    </ul>
                                </nav>
                                <!-- eof main nav -->
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="page_breadcrumbs ls ms ms_dark section_padding_25">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="highlight2 bold bottommargin_5">Novedades</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="ls section_padding_75 columns_margin_0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <article id="blog-gallery-slider" class="carousel slide parallax cs main_color2">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item text-center active">
                                        <h3 class="black roboto section_header big">
                                            Vital oil and natural
                                            <br> gas resources
                                        </h3>
                                    </div>
                                    <div class="item text-center">
                                        <h3 class="black roboto section_header big">
                                            Vital oil and natural
                                            <br> gas resources
                                        </h3>
                                    </div>
                                    <div class="item text-center">
                                        <h3 class="black roboto section_header big">
                                            Vital oil and natural
                                            <br> gas resources
                                        </h3>
                                    </div>
                                </div>

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#blog-gallery-slider" data-slide-to="0" class="active"></li>
                                    <li data-target="#blog-gallery-slider" data-slide-to="1"></li>
                                    <li data-target="#blog-gallery-slider" data-slide-to="2"></li>
                                </ol>

                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cs main_color2 section_padding_top_145 section_padding_bottom_125 columns_margin_bottom_30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <article class="vertical-item content-padding ls with_bottom_border">
                                <div class="item-media">
                                    <img src="./images/accesoriosr-motortech.png" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap">
                                            <a class="p-link" title="" href="blog-single-right.html"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <div class="categories-links small-text big-spacing">
                                        <a href="#">Controladores</a>
                                    </div>
                                    <h3 class="entry-title">
                                        <a href="blog-single-right.html">Motortech</a>
                                    </h3>
                                    <p>
                                        MOTORTECH se ha convertido en uno de los principales fabricantes
                                        de controladores de encendido en el mercado global para motores de gas
                                        industriales.
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <article class="vertical-item content-padding ls with_bottom_border">
                                <div class="item-media">
                                    <img src="./images/accesoriosr-motortech.png" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap">
                                            <a class="p-link" title="" href="blog-single-right.html"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <div class="categories-links small-text big-spacing">
                                        <a href="#">Controladores</a>
                                    </div>
                                    <h3 class="entry-title">
                                        <a href="blog-single-right.html">Motortech</a>
                                    </h3>
                                    <p>
                                        MOTORTECH se ha convertido en uno de los principales fabricantes
                                        de controladores de encendido en el mercado global para motores de gas
                                        industriales.
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <article class="vertical-item content-padding ls with_bottom_border">
                                <div class="item-media">
                                    <img src="./images/accesoriosr-motortech.png" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap">
                                            <a class="p-link" title="" href="blog-single-right.html"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <div class="categories-links small-text big-spacing">
                                        <a href="#">Controladores</a>
                                    </div>
                                    <h3 class="entry-title">
                                        <a href="blog-single-right.html">Motortech</a>
                                    </h3>
                                    <p>
                                        MOTORTECH se ha convertido en uno de los principales fabricantes
                                        de controladores de encendido en el mercado global para motores de gas
                                        industriales.
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <article class="vertical-item content-padding ls with_bottom_border">
                                <div class="item-media">
                                    <img src="./images/accesoriosr-motortech.png" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap">
                                            <a class="p-link" title="" href="blog-single-right.html"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <div class="categories-links small-text big-spacing">
                                        <a href="#">Controladores</a>
                                    </div>
                                    <h3 class="entry-title">
                                        <a href="blog-single-right.html">Motortech</a>
                                    </h3>
                                    <p>
                                        MOTORTECH se ha convertido en uno de los principales fabricantes
                                        de controladores de encendido en el mercado global para motores de gas
                                        industriales.
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <section
                class="page_copyright cs main_color2 table_section section_padding_top_30 section_padding_bottom_30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <p class="bold fontsize_12 text-uppercase kanit">
                                SOMOS UNA COMPAÑÍA DEDICADA A LA AUTOMATIZACIÓN
                                DE PROCESOS INDUSTRIALES, CON AMPLIA EXPERIENCIA EN INSTRUMENTACIÓN
                                DE CAMPO. INTEGRAMOS A LOS MEJORES FABRICANTES PARA SUMINISTRO DE
                                REFACCIONAMIENTO PARA SUS PROCESOS Y EQUIPOS DE CONTROL.
                                ESTAMOS COMPROMETIDOS CON LA CALIDAD EN NUESTROS SERVICIOS CON LA
                                CONVICCIÓN DE DEJAR UN TRABAJO QUE EXCEDA LAS EXPECTATIVAS DE NUESTROS
                                CLIENTES. ICI INDUSTRIAL
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->

    <script src="js/compressed.js"></script>
    <script src="js/main.js"></script>


</body>

</html>
