<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>OilDrop</title>
    <meta charset="utf-8">
    <!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/fonts.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
    <!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

    <div class="preloader">
        <div class="preloader_image"></div>
    </div>


    <!-- search modal -->
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <div class="widget widget_search">
            <form method="get" class="searchform form-inline" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                        id="modal-search-input">
                </div>
                <button type="submit" class="theme_button">Search</button>
            </form>
        </div>
    </div>

    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">

            <!-- template sections -->
            <header
                class="page_header cs main_color2 bordered_items columns_padding_0 toggle_menu_left not_hide_menuitems with_top_border">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="menu-container">
                                <!-- main nav start -->
                                <nav class="mainmenu_wrapper">
                                    <ul class="mainmenu nav sf-menu">
                                        <li class="active">
                                            <a href="welcome.blade.php">Inicio</a>
                                        </li>

                                        <li>
                                            <a href="about.html">QUIÉNES SOMOS</a>
                                        </li>
                                        <li>
                                            <a href="#">PRODUCTOS</a>
                                            <ul>
                                                <li>
                                                    <a href="service-single.html">MARCAS</a>
                                                </li>
                                                <li>
                                                    <a href="aplicaciones.html">APLICACIONES</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="services.html">SERVICIOS</a>
                                        </li>
                                        <!-- eof features -->

                                        <!-- blog -->
                                        <li>
                                            <a href="blog-full.html">NOVEDADES</a>
                                        </li>
                                        <!-- eof blog -->

                                        <!-- contacts -->
                                        <li>
                                            <a href="contact.html">Contáctanos</a>
                                        </li>
                                        <!-- eof contacts -->
                                        <li>
                                            <span>
                                                LOGO
                                            </span>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- eof main nav -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="page_breadcrumbs ls ms ms_dark section_padding_25">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="highlight2 bold bottommargin_5">Contáctanos</h1>
                        </div>
                        <span>
                            Si desea más información relacionada con la empresa o
                            nuestros productos y servicios, puede contactarnos
                            por cualquiera de los siguientes medios.
                        </span>
                    </div>
                </div>
            </section>

            <section id="map" class="ls" data-address="40 Blandford St Marylebone, London">
                <!-- marker description and marker icon goes here -->
                <div class="map_marker_description">
                    <h3>UBICACIÓN</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d949.2798663248235!2d-92.9242673!3d17.8798666!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edda890e4e81a3%3A0xb95f3b16ade2d69!2sICI%20INDUSTRIAL!5e0!3m2!1sen!2smx!4v1619731819276!5m2!1sen!2smx"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </section>

            <section class="ls section_padding_145">
                <div class="container">
                    <div class="row">

                        <div class="col-md-8 to_animate" data-animation="scaleAppear">

                            <h2 class="section_header">Formulario de Contacto</h2>

                            <hr class="divider_2_30 left-important main_bg_color divider_35">

                            <form class="contact-form row columns_padding_20 columns_margin_0" method="post" action="/">


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Nombre Completo
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text" aria-required="true" size="30" value="" name="name" id="name"
                                            class="form-control" placeholder="Nombre Completo">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="subject">Asunto
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text" aria-required="true" size="30" value="" name="subject"
                                            id="subject" class="form-control" placeholder="Asunto">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="phone">Numero de Teléfono
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text" aria-required="true" size="30" value="" name="phone"
                                            id="phone" class="form-control" placeholder="Numero de Teléfono">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">E-Mail
                                            <span class="required">*</span>
                                        </label>
                                        <input type="email" aria-required="true" size="30" value="" name="email"
                                            id="email" class="form-control" placeholder="E-Mail">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="message">Mensaje</label>
                                        <textarea aria-required="true" rows="11" cols="45" name="message" id="message"
                                            class="form-control" placeholder="Mensaje"></textarea>
                                    </div>
                                    <button type="submit" id="contact_form_submit" name="contact_submit"
                                        class="theme_button color1">Enviar Solicitud</button>
                                </div>

                            </form>
                        </div>

                        <div class="col-md-4 to_animate" data-animation="scaleAppear">

                            <h2 class="section_header">Datos de Contacto</h2>
                            <hr class="divider_2_30 left-important main_bg_color divider_35">

                            <div class="media thin_teaser topmargin_0">
                                <div class="media-left media-middle">
                                    <div class="teaser_icon border_icon round">
                                        <i class="icon-map-marker highlight2"></i>
                                    </div>
                                </div>
                                <div class="media-body media-middle">
                                    <p class="kanit text-uppercase bold fontsize_14">
                                        Calle Senda de la lluvia
                                        <span class="highlight2 fontsize_18">Manzana 5, Lote 2</span>
                                        <br> Col. Villa Parrilla
                                        <span class="highlight2">Villahermosa, Tab. Mexico
                                            <span class="fontsize_18">86284</span>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="media thin_teaser">
                                <div class="media-left media-middle">
                                    <div class="teaser_icon border_icon round">
                                        <i class="icon-phone highlight2"></i>
                                    </div>
                                </div>
                                <div class="media-body media-middle">
                                    <p class="kanit text-uppercase bold fontsize_14">
                                        Teléfonos:
                                        <br>
                                        <span class="fontsize_18 highlight2">+52 (993) 338 20 49</span>
                                        <br>
                                        <span class="fontsize_18 highlight2">+52 (993) 338 21 92</span>
                                        <br>
                                        <a href="tel:600123456" class="fontsize_18 highlight2">Llame Ahora</a>
                                    </p>
                                </div>
                            </div>

                            <div class="media thin_teaser">
                                <div class="media-left media-middle">
                                    <div class="teaser_icon border_icon round">
                                        <i class="icon-envelope highlight2"></i>
                                    </div>
                                </div>
                                <div class="media-body media-middle">
                                    <p class="kanit text-uppercase bold fontsize_14">
                                        Nuestros correos:
                                        <br>
                                        <span class="highlight2">ventas@iciindustrial.com</span>
                                        <br>
                                        <span class="highlight2">serviciocliente@iciindustrial.com</span>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <footer class="page_footer cs mx-auto section_padding_top_30 columns_margin_0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <a href="./" class="logo">
                                <img src="images/logo.png" alt="">
                                <span class="logo_text">
                                    <span class="highlight kanit bold">Oildrop
                                        <br> global</span>
                                    <span class="small-text">test with the best</span>
                                </span>
                            </a>
                            <p class="topmargin_30">
                                Everyday is a new day for us and we work really hard to satisfy our customer everywhere.
                            </p>
                            <div class="page_social_icons greylinks">
                                <a class="social-icon border-icon rounded-icon soc-facebook" href="#"
                                    title="Facebook"></a>
                            </div>
                        </div>

                        <div class="col-lg-offset-0 col-lg-6 col-md-offset-6 col-md-6">
                            <div class="row topmargin_40">
                                <div class="col-lg-12 col-md-6">
                                    <div class="media thin_teaser inline-block bottommargin_20">
                                        <div class="media-left media-middle">
                                            <div class="teaser_icon border_icon round">
                                                <i class="icon-phone black"></i>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <p class="kanit text-uppercase bold highlight fontsize_14">
                                                Agenda una llamada con
                                                <br>
                                                <span class="fontsize_18 black">nuestros asesores</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-6">
                                    <div class="media thin_teaser inline-block bottommargin_20">
                                        <div class="media-left media-middle">
                                            <div class="teaser_icon border_icon round">
                                                <i class="icon-calculator black"></i>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <p class="kanit text-uppercase bold highlight fontsize_14">
                                                Cotiza tu
                                                <br>
                                                <span class="fontsize_18 black">proyecto</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="media thin_teaser inline-block bottommargin_20">
                                        <div class="media-left media-middle">
                                            <div class="teaser_icon border_icon round">
                                                <i class="icon-meetings black"></i>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <p class="kanit text-uppercase bold highlight fontsize_14">
                                                Agenda una reunion
                                                <br>
                                                <span class="fontsize_18 black">presencial</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="media thin_teaser inline-block bottommargin_20">
                                        <div class="media-left media-middle">
                                            <div class="teaser_icon border_icon round">
                                                <i class="icon-lock black"></i>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <p class="kanit text-uppercase bold highlight fontsize_14">
                                                Tu informacion esta segura &amp; protegida
                                                <br>
                                                <span class="fontsize_18 black">garantia de privacidad</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->

    <script src="js/compressed.js"></script>
    <script src="js/main.js"></script>


    <!-- Google Map Script -->
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTwYSMRGuTsmfl2z_zZDStYqMlKtrybxo"></script>
</body>

</html>
